
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="icon" href="~/assets/images/icons/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Access Denied</title>

    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 65vh;
        }

        .card {
            width: 300px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .card-header {
            background-color: #f44336; 
            color: white;
            text-align: center;
            padding: 15px;
        }

        .card-body {
            text-align: center;
            padding: 20px;
        }

    </style>
</head>
<body>
    @await Component.InvokeAsync("OnlineHeader")
    <div class="container">
        <div class="card mt-5 animated">
            <div class="card-header">
                <h1 class="card-title">Access Denied</h1>
            </div>
            <div class="card-body">
                <p class="card-text">You do not have permission to access this page.</p>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="second_container">
            <div class="wrapper-inner">
                <div class="footer-content">
                    <div class="footer-top">
                        <div class="row">
                            <div class="footer-item col-lg-3 col-12 footer-item-logo text-lg-left r">
                                <a href="/" class="logo bottom-logo">
                                    <img src="/assets/images/icons/logo.svg">
                                </a>
                                <div class="footer-phone row">
                                    <div class="col-lg-12 col-sm-6">
                                        <a href="tel:*2266" class="phone-link">*2266</a>&nbsp;
                                        <p style="font-size: 12px; color: #313131; font-weight: bold; margin-top: 5px;">
                                            Müştəri Xidmətləri 9:00-dan 20:00-a
                                            qədər
                                        </p>
                                    </div>
                                    <div class="col-lg-12 col-sm-6">
                                        <button type="button" class="feedback-btn mt-2"
                                                data-target="#feedbackModal">
                                            Əlaqə
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-item col-lg-5 col-12 footer-item-menu-list text-lg-left  my-lg-0 my-4 py-lg-0 py-3">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="footer-item-menu mb-sm-0 mb-3">
                                            <div class="footer-item-title">
                                                Alıcılara
                                            </div>
                                            <div class="navigation-box">

                                                <ul class="navigation">

                                                    <li class="navigation_item">
                                                        <a href=""
                                                           class="navigation-link">FAQ</a>
                                                    </li>

                                                    <li class="navigation_item">
                                                        <a href=""
                                                           class="navigation-link">
                                                            Malların sifarişi və satış qaydası
                                                            haqqında razılaşma
                                                        </a>
                                                    </li>


                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="footer-item-menu">
                                            <div class="footer-item-title">
                                                Məlumat<br>
                                            </div>
                                            <div class="navigation-box">

                                                <ul class="navigation">

                                                    <li class="navigation_item">
                                                        <a href=""
                                                           class="navigation-link">Çatdırılma və ödəniş</a>
                                                    </li>

                                                    <li class="navigation_item">
                                                        <a href="" class="navigation-link">
                                                            Geri
                                                            qaytarma şərtləri
                                                        </a>
                                                    </li>


                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-item col-lg-4 col-12 pl-lg-0 footer-item-text-wrapper text-lg-left ">
                                <div class="footer-item-text">
                                </div>
                                <div class="footer-item-pays">
                                    <div class="pays-box">
                                        <div class="pay-item">
                                            <img src="/assets/images/payments/mastercard.png"
                                                 alt="Банковская карта MasterCard" title="">
                                        </div>
                                        <div class="pay-item">
                                            <img src="/assets/images/payments/maestro.png"
                                                 alt="Банковская карта Maestro" title="">
                                        </div>
                                        <div class="pay-item">
                                            <img src="/assets/images/payments/visa.png" alt="Банковская карта Visa"
                                                 title="">
                                        </div>
                                    </div>
                                </div>
                                <div id="bx-composite-banner" style=" margin-top: 10px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom">
                        <div class="footer-item-copy">
                            <div class="row align-items-center text-lg-left text-center">
                                <div class="col-lg col-12">

                                    <span>2023 ©</span> <span><b>Azerbaijan Supermarket LLC</b></span>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/assets/js/category.js"></script>
    <script src="~/assets/js/onlinemarket.js"></script>
</body>
</html>