@{
    ViewData["Title"] = "Bütün vakansiyalar | Bravo Supermarket";

    VacancyViewModel viewModel = Model;
    var vacancies = viewModel.Vacancies;
}

<main>
    <section class="headding">
        <div class="container">
            <div class="special_first">
                <div>
                    <h2>Bütün vakansiyalar</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="vacancies_wrapper mt-4">
        <div class="container">
            <div class="vacancies">
                <div id="vacancyRow" class="vacancies_grid">

                    @foreach (var vacancy in vacancies)
                    {
                        <div class="single_vacancy">
                            <h3>@vacancy.Title</h3>
                            <footer>
                                <p>@vacancy.Adress</p>
                                <time>@vacancy.Time</time>
                            </footer>
                        </div>
                    }

                </div>

                <div class=" text-center">
                    <input value="@ViewBag.VacancyCount" type="hidden" id="vacancyCount" />
                    <button class="btn mt-4 btn-success w-25 h-100" id="loadMore">Load More...</button>
                </div>

            </div>
        </div>
    </section>
</main>
