@model ProductCreateViewModel

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Məhsul Yarat</h4>
            <p class="card-description">Məhsullar</p>
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name">Adı</label>
                    <input asp-for="Name" class="form-control" placeholder="Adı..." />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Price">Qiymət</label>
                    <input asp-for="Price" class="form-control" placeholder="Qiymət..." />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Count">Sayı</label>
                    <input asp-for="Count" class="form-control" placeholder="Sayı..." />
                    <span asp-validation-for="Count" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CategoryIds">Kateqoriyalar</label>
                    <select style="height:80px;" asp-for="CategoryIds" class="form-control" multiple>
                        @foreach (var category in Model.CategoryListItems)
                        {
                            <option value="@category.Value">@category.Text</option>
                        }
                    </select>
                    <span asp-validation-for="CategoryIds" class="text-danger"></span>
                </div>

                <div class="form-group mt-3" enctype="multipart/form-data">
                    <label asp-for="Image">Şəkil</label>
                    <input asp-for="Image" class="form-control" id="exampleInputUsername1" accept="image/*" placeholder="Şəkil...">
                    <span asp-validation-for="Image"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary mr-2 mt-4">Yarat</button>
                    <a asp-action="Index" class="btn btn-light mt-4">Ləğv Et</a>
                </div>
            </form>
        </div>
    </div>
</div>