main {
    .contacts_wrapper {
        padding: 0 0 70px;

        .all_contacts {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: minmax(min-content, max-content);
            grid-gap: 24px 24px;


            .contacts_sides {
                padding: 40px 70px;
                background: radial-gradient(100% 1975.01% at 1.01% 0%, #EDFFF4 0%, #C9F1D9 100%);
                position: relative;
                border-radius: 16px;
                height: 340px;

                .contacts_head {
                    h1 {
                        color: #237E5A;
                        padding: 0 0 32px;
                        font-family: bold;
                        font-size: 50px;
                        line-height: 1.28;
                        position: relative;
                    }

                }

                .contacts_info {
                    span {
                        padding: 0 0 4px;
                        font-family: regular;
                        font-size: 16px;
                        line-height: 1.5;
                        color: #A3B7BA;
                    }

                    P {
                        padding: 0 0 30px;
                        font-family: medium;
                        font-size: 20px;
                        line-height: 1.4;
                        color: #124F2E;
                    }
                }

                &::before {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: 100% 0;
                    background-image: url(/assets/images/contacts/contacts_bg.svg);
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }

            .contacts_map {
                border-radius: 16px;
                overflow: hidden;

                iframe {
                    filter: grayscale(1.1);
                }
            }
        }
    }

    .customer_services {
        .all_services {
            header {
                display: flex;
                justify-content: space-between;
                align-items: end;

                .left_side {
                    h2 {
                        padding: 0 0 12px;
                        font-family: bold;
                        font-size: 40px;
                        line-height: 1.3;
                        color: #124F2E;
                    }

                    p {
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 1.33;
                        color: #124F2E;
                    }
                }

                .right_side {
                    margin-bottom: 20px;
                    display: flex;
                    flex-wrap: nowrap;

                    a {
                        display: inline-block;
                        padding: 14px 28px;
                        font-family: bold;
                        font-size: 16px;
                        line-height: 1.5;
                        text-align: center;
                        color: #124F2E;
                        text-decoration: none;
                        box-shadow: inset 0 0 0 1px #E7E7E7;
                        border-radius: 6px;
                        margin-left: 10px;
                    }


                    .active_tab {
                        color: #fff;
                        background-color: #77BC1F;
                        box-shadow: inset 0 0 0 1px #77BC1F;
                    }
                }
            }

            .contacts_form {
                margin-top: 15px;

                .input_grid {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-auto-rows: minmax(min-content, max-content);
                    grid-gap: 16px 16px;

                    .single_input {
                        position: relative;

                        input {
                            display: block;
                            width: 100%;
                            height: 56px;
                            padding: 0 24px;
                            font-family: semi-bold;
                            appearance: none;

                            font-size: 16px;
                            color: #232527;
                            background-color: #fff;
                            border: 1px solid #ebebeb;
                            border-radius: 6px;
                            transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
                        }

                        select {
                            display: block;
                            width: 100%;
                            height: 56px;
                            padding: 0 48px 0 24px;
                            font-family: medium;
                            font-size: 16px;
                            color: #94959B;
                            background-color: #fff;
                            appearance: none;
                            background-image: url(/assets/images/contacts/arrow.svg);
                            background-repeat: no-repeat;
                            background-position: calc(100% - 24px) 50%;
                            border: 1px solid #ebebeb;
                            border-radius: 6px;
                            transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);

                            option {
                                color: black;
                            }
                        }

                        .gray {
                            color: gray !important;
                        }

                        .black {
                            color: black !important;
                        }
                    }
                }

                .text_area {
                    padding: 16px 0 24px;

                    textarea {
                        height: 210px;
                        display: block;
                        width: 100%;
                        font-family: medium;
                        padding: 16px 24px;
                        color: #232527;
                        background-color: #fff;
                        font-size: 16px;
                        border-radius: 6px;
                        resize: none;
                        transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
                        border: 1px solid #ebebeb;
                    }
                }

                .upload {
                    h2 {
                        padding: 0 0 12px;
                        font-family: medium;
                        font-size: 18px;
                        line-height: 1.78;
                        color: #124F2E;
                    }

                    .upload_grid {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-auto-rows: minmax(min-content, max-content);
                        grid-gap: 24px 24px;

                        .single_upload {
                            label {
                                display: flex;
                                cursor: pointer;
                                justify-content: center;
                                flex-direction: column;
                                align-items: center;
                                border: 1px dashed #77B995;
                                padding: 30px;
                                border-radius: 6px;



                                &::before {
                                    content: "";
                                    display: block;
                                    width: 24px;
                                    height: 24px;
                                    margin: 0 0 12px;
                                    background-repeat: no-repeat;
                                    background-position: 50%;
                                    background-image: url(/assets/images/contacts/upload_green_icon.svg);
                                }



                                h3 {
                                    padding: 0 0 2px;
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 1.5;
                                    text-align: center;
                                    color: #124F2E;
                                    font-family: medium;
                                }

                                p {
                                    font-size: 13px;
                                    line-height: 1.54;
                                    text-align: center;
                                    color: #A9AFBE;
                                    font-family: regular;
                                }
                            }

                            input {
                                display: none;
                            }
                        }
                    }
                }

                select:focus {
                    outline: none;
                }

                input:focus {
                    outline: none;
                }

                textarea:focus {
                    outline: none;
                }

                .form_button {
                    padding: 16px 0 0;

                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: auto;
                        padding: 16px;
                        border: none;
                        font-family: semi-bold;
                        font-size: 10px;
                        line-height: 1.5;
                        text-align: center;
                        color: #fff;
                        text-decoration: none;
                        text-align: center;
                        background-color: #0B955E;
                        border-radius: 6px;
                        cursor: pointer;

                        &::before {
                            content: "";
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            margin: 0 12px 0 0;
                            background-image: url(/assets/images/contacts/send_icon.svg);
                        }

                    }

                    span {
                        font-size: 16px;
                        font-family: semi-bold;
                    }
                }
            }
        }
    }

    .protection {
        .text {
            padding: 0 0 24px;
            font-size: 17px;
            line-height: 1.55;
            color: #778B80;

            p {
                padding: 0 0 12px;
            }

            h2 {
                padding: 0 0 20px;
                font-family: semi-bold;
                font-size: 20px;
                color: #124F2E;
            }

            h3 {
                padding: 0 0 20px;
                font-family: semi-bold;
                font-size: 18px;
                color: #124F2E;
            }

            ol {
                list-style-type: none;
                counter-reset: my-awesome-counter;

                li {
                    padding: 0 0 0 52px;
                    margin: 0 0 36px;
                    position: relative;

                    &::before {
                        content: counter(my-awesome-counter) "";
                        counter-increment: my-awesome-counter;
                        display: block;
                        width: 40px;
                        height: 40px;
                        font-size: 16px;
                        line-height: 40px;
                        text-align: center;
                        letter-spacing: -0.32px;
                        color: #000;
                        background-color: rgba(204, 204, 204, 0.2);
                        position: absolute;
                        left: 0;
                        top: -4px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    .faq {
        .faq_list {
            .single_info {
                background-color: #FAFAFA;
                margin: 0 0 16px;
                border-radius: 16px;
                transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);

                h3 {
                    display: block;
                    width: 100%;
                    padding: 32px 64px 32px 32px;
                    font-size: 20px;
                    line-height: 1.4;
                    color: #354A54;
                    text-decoration: none;
                    position: relative;
                    transition: inherit;

                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                }

                .inset {
                    padding: 0 32px 32px;

                    .faq_accordion {
                        .single_inf {
                            background-color: #fff;
                            margin: 0 0 12px;
                            box-shadow: inset 0 0 0 1px #EBEBEB;
                            border-radius: 16px;
                            transition: inherit;

                            h4 {
                                a {
                                    display: block;
                                    width: 100%;
                                    padding: 20px 64px 20px 32px;
                                    font-family: medium;
                                    font-size: 16px;
                                    line-height: 1.62;
                                    color: #124F2E;
                                    text-decoration: none;
                                    position: relative;
                                    transition: inherit;

                                    &::before {
                                        content: "";
                                        display: block;
                                        width: 24px;
                                        height: 24px;
                                        background-repeat: no-repeat;
                                        background-position: 50%;
                                        background-image: url(/assets/images/contacts/faq.svg);
                                        position: absolute;
                                        right: 32px;
                                        top: calc(50% - 12px);
                                        transform: rotate(0deg);
                                        transition: .3s;
                                    }
                                }

                                .rotated {
                                    &::before {
                                        transform: rotate(135deg);
                                    }
                                }
                            }


                            .inner {
                                height: 0;
                                padding: 0 32px;
                                font-size: 14px;
                                line-height: 1.6;
                                color: #4A5A69;
                                text-align: justify;
                                overflow: hidden;
                                transition: .3s;

                                p {
                                    font-family: regular;
                                    padding: 0 0 16px;
                                }
                            }

                            .open {
                                height: auto;
                            }
                        }
                    }
                }
            }
        }

    }
}

@media(max-width:576px) {
    .all_contacts {
        grid-template-columns: 1fr !important;

        h1 {
            font-size: 32px !important;
            padding: 0 0 10px !important;
        }

        p {
            font-size: 16px !important;
            padding: 0 0 10px !important;
        }

        span {
            font-size: 14px !important;
        }

        .contacts_sides {
            padding: 24px 20px 32px !important;
            height: 250px !important;

        }

        .contacts_map {
            width: 100% !important;

            iframe {
                width: 100% !important;
                height: 250px;
            }
        }
    }

    main {
        .all_services {
            header {
                flex-wrap: wrap;

                .left_side {
                    h2 {
                        font-size: 32px !important;
                    }

                    p {
                        font-size: 18px !important;
                    }
                }

                .right_side {
                    overflow-x: scroll;

                    a {
                        min-width: 60% !important;
                        font-size: 15px !important;
                        padding: 12px 6px !important;
                    }
                }
            }

            .contacts_form {
                .input_grid {
                    grid-template-columns: 1fr !important;
                }

                .upload_grid {
                    grid-template-columns: 1fr !important;
                }
            }
        }

        .faq {
            .faq_list {
                .single_info {
                    h3 {
                        padding: 24px 24px 18px !important;
                        font-size: 18px !important;
                    }

                    h4 {
                        a {
                            font-size: 15px !important;
                        }
                    }

                    .inner {
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:576px) and (max-width:768px) {
    .all_contacts {
        grid-template-columns: 1fr !important;

        h1 {
            font-size: 32px !important;
            padding: 0 0 10px !important;
        }

        p {
            font-size: 16px !important;
            padding: 0 0 10px !important;
        }

        span {
            font-size: 14px !important;
        }

        .contacts_sides {
            padding: 24px 20px 32px !important;
            height: 250px !important;

        }

        .contacts_map {
            width: 100% !important;

            iframe {
                width: 100% !important;
                height: 250px;
            }
        }
    }

    main {
        .all_services {
            header {
                flex-wrap: wrap;

                .left_side {
                    h2 {
                        font-size: 32px !important;
                    }

                    p {
                        font-size: 18px !important;
                    }
                }

                .right_side {
                    width: 85%;
                    justify-content: space-between;

                    a {
                        margin-left: 0 !important;
                        min-width: 20% !important;
                        font-size: 15px !important;
                        padding: 12px 6px !important;
                    }
                }
            }

            .contacts_form {
                .input_grid {
                    grid-template-columns: 1fr !important;
                }

                .upload_grid {
                    grid-template-columns: 1fr !important;
                }
            }
        }

        .faq {
            .faq_list {
                .single_info {
                    h3 {
                        padding: 24px 24px 18px !important;
                        font-size: 18px !important;
                    }

                    h4 {
                        a {
                            font-size: 15px !important;
                        }
                    }

                    .inner {
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:768px) and (max-width:1024px){
    .all_contacts {
        grid-template-columns: 1fr !important;

        h1 {
            font-size: 32px !important;
            padding: 0 0 10px !important;
        }

        p {
            font-size: 16px !important;
            padding: 0 0 10px !important;
        }

        span {
            font-size: 14px !important;
        }

        .contacts_sides {
            padding: 24px 20px 32px !important;
            height: 250px !important;

        }

        .contacts_map {
            width: 100% !important;

            iframe {
                width: 100% !important;
                height: 250px;
            }
        }
    }

    main {
        .all_services {
            header {
                flex-wrap: wrap;

                .left_side {
                    h2 {
                        font-size: 32px !important;
                    }

                    p {
                        font-size: 18px !important;
                    }
                }

                .right_side {
                    width: 70%;
                    justify-content: space-between;

                    a {
                        margin-left: 0 !important;
                        min-width: 25% !important;
                        font-size: 15px !important;
                        padding: 12px 6px !important;
                    }
                }
            }

            .contacts_form {
                .input_grid {
                    grid-template-columns: 1fr 1fr !important;
                }

                .upload_grid {
                    grid-template-columns: 1fr 1fr 1fr !important;
                }
            }
        }

        .faq {
            .faq_list {
                .single_info {
                    h3 {
                        padding: 24px 24px 18px !important;
                        font-size: 18px !important;
                    }

                    h4 {
                        a {
                            font-size: 15px !important;
                        }
                    }

                    .inner {
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:1024px) and (max-width:1280px){

    .contacts_sides{
        height: 320px !important;
        padding: 30px 40px !important;
        h1{
            padding: 0 0 20px !important;
        }
        .contacts_info{
            .single_info{
                span{
                    font-size: 15px !important
                }
    
                p{
                    font-size: 19px !important;
                }
            }
        }
    }

    .contacts_map{
        height: 320px !important;
    }
}