
@font-face {
    font-family: extra-light;
    src: url(/assets/fonts/PlusJakartaSans-ExtraLight.ttf);
}

@font-face {
    font-family: light;
    src: url(/assets/fonts/PlusJakartaSans-Light.ttf);
}

@font-face {
    font-family: regular;
    src: url(/assets/fonts/PlusJakartaSans-Regular.ttf)
}

@font-face {
    font-family: medium;
    src: url(/assets/fonts/PlusJakartaSans-Medium.ttf);
}

@font-face {
    font-family: semi-bold;
    src: url(/assets/fonts/PlusJakartaSans-SemiBold.ttf);
}

@font-face {
    font-family: bold;
    src: url(/assets/fonts/PlusJakartaSans-Bold.ttf);
}

@font-face {
    font-family: extra-bold;
    src: url(/assets/fonts/PlusJakartaSans-ExtraBold.ttf);
}