<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="icon" href="~/assets/images/icons/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>@ViewBag.Title</title>
</head>

<body>
    @await Component.InvokeAsync("Header") 

    @RenderBody()

    @await Component.InvokeAsync("Footer")

    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/js/cards.js"></script>
    <script src="~/assets/js/category.js"></script>
    <script src="~/assets/js/contact.js"></script>
    <script src="~/assets/js/drag.js"></script>
    <script src="~/assets/js/filelabel.js"></script>
    <script src="~/assets/js/input.js"></script>
    <script src="~/assets/js/info.js"></script>
    <script src="~/assets/js/market.js"></script>
    <script src="~/assets/js/vacancies.js"></script>
</body>

</html>

